            <h3>Nhật ký thay đổi</h3>
            <h4 class="changelog-date">Sep 2, 2026</h4>
            <p>Sửa đáp án D của câu 9 trong chương 2. Cảm ơn <a href="https://github.com/anouerK">https://github.com/anouerK</a></p>

            <h4 class="changelog-date">May 19, 2026</h4>
            <p>Sửa lại câu từ về lỗi trong pattern matching ở chương 5. Cảm ơn <a href="https://github.com/huynguyenngocdang">https://github.com/huynguyenngocdang</a></p>

            <h4 class="changelog-date">May 19, 2026</h4>
            <p>Sửa ký tự escape cho các operator trong chương 4. Cảm ơn <a href="https://github.com/bennamrouche">https://github.com/bennamrouche</a></p>

            <h4 class="changelog-date">May 12, 2026</h4>
            <p>Sửa lỗi chính tả trong chương 2 và đáp án của câu 10 trong cùng chương. Cảm ơn <a href="https://github.com/bennamrouche">https://github.com/bennamrouche</a></p>

            <h4 class="changelog-date">May 12, 2026</h4>
            <p>Sửa lỗi trong ví dụ StringBuilder. Cảm ơn <a href="https://github.com/huynguyenngocdang">https://github.com/huynguyenngocdang</a></p>

            <h4 class="changelog-date">September 26, 2025</h4>
            <p>Sửa lỗi trong chương 13 về unnamed module và automatic module. Cảm ơn <a href="https://github.com/Alchemik">https://github.com/Alchemik</a></p>

            <h4 class="changelog-date">August 31, 2025</h4>
            <p>Sửa lỗi trong chương 3 và 5. Cảm ơn <a href="https://github.com/Alchemik">https://github.com/Alchemik</a></p>

            <h4 class="changelog-date">March 24, 2025</h4>
            <p>Sửa output của ví dụ về Function trong chương 8. Cảm ơn <a href="https://github.com/UninspiredNickname">https://github.com/UninspiredNickname</a></p>

            <h4 class="changelog-date">April 21, 2025</h4>
            <p>Cải thiện bảng độ ưu tiên operator trong chương 4.</p>

            <h4 class="changelog-date">March 24, 2025</h4>
            <p>Sửa lỗi chính tả ở câu 5 chương 7. Cảm ơn <a href="https://github.com/rjuric-tn">https://github.com/rjuric-tn</a></p>

            <h4 class="changelog-date">February 13, 2025</h4>
            <p>Sửa lỗi trong chương 4 và 11.</p>

            <h4 class="changelog-date">August 09, 2024</h4>
            <p>Phiên bản đầu tiên.</p>
