<div class="nav">
    <div class="container">
		<div class="title pull-left">
			<a href="index.html"><b>OCP: Java SE 21 Developer Study Guide</b></a>
		</div>
		<div class="menu desktop pull-right">
		  <a class="chapters dropdown-desktop" href="#"><i class="icon-book"></i><span>Chương</span></a>
		  <ul class="dropdown-menu">
			<li class="column-menu">
			  <ul>
				<li><a tabindex="-1" href="intro.html">Giới thiệu</a></li>
				<li><a tabindex="-1" href="ch01.html">1. Sử dụng lập trình hướng đối tượng trong Java - Phần 1</a></li>
				<li><a tabindex="-1" href="ch02.html">2. Sử dụng lập trình hướng đối tượng trong Java - Phần 2</a></li>
				<li><a tabindex="-1" href="ch03.html">3. Làm việc với Records và Enums</a></li>
				<li><a tabindex="-1" href="ch04.html">4. Làm việc với dữ liệu</a></li>
				<li><a tabindex="-1" href="ch05.html">5. Điều khiển luồng chương trình</a></li>
				<li><a tabindex="-1" href="ch06.html">6. Mảng, Generics và Collections</a></li>
				<li><a tabindex="-1" href="ch07.html">7. Xử lý lỗi và Exceptions</a></li>
			  </ul>
			</li>
			<li class="column-menu">
			  <ul>
				<li><a tabindex="-1" href="ch08.html">8. Functional Interface và biểu thức Lambda</a></li>
				<li><a tabindex="-1" href="ch09.html">9. Streams</a></li>
				<li><a tabindex="-1" href="ch10.html">10. Concurrency và Multithreading</a></li>
				<li><a tabindex="-1" href="ch11.html">11. Date/Time API</a></li>
				<li><a tabindex="-1" href="ch12.html">12. File I/O và Serialization</a></li>
				<li><a tabindex="-1" href="ch13.html">13. Java Platform Module System</a></li>
				<li><a tabindex="-1" href="ch14.html">14. Localization</a></li>
			  </ul>
			</li>
		  </ul>
		</div>
	</div>
	<div class="menu mobile pull-right">
		<a class="chapters dropdown-mobile" href="#"><i class="icon-book"></i></a>
		<ul class="dropdown-menu">
			<li class="column-menu">
			  <ul>
				<li><a tabindex="-1" href="intro.html">Giới thiệu</a></li>
				<li><a tabindex="-1" href="ch01.html">1. Sử dụng lập trình hướng đối tượng trong Java - Phần 1</a></li>
				<li><a tabindex="-1" href="ch02.html">2. Sử dụng lập trình hướng đối tượng trong Java - Phần 2</a></li>
				<li><a tabindex="-1" href="ch03.html">3. Làm việc với Records và Enums</a></li>
				<li><a tabindex="-1" href="ch04.html">4. Làm việc với dữ liệu</a></li>
				<li><a tabindex="-1" href="ch05.html">5. Điều khiển luồng chương trình</a></li>
				<li><a tabindex="-1" href="ch06.html">6. Mảng, Generics và Collections</a></li>
				<li><a tabindex="-1" href="ch07.html">7. Xử lý lỗi và Exceptions</a></li>
			  </ul>
			</li>
			<li class="column-menu">
			  <ul>
				<li><a tabindex="-1" href="ch08.html">8. Functional Interface và biểu thức Lambda</a></li>
				<li><a tabindex="-1" href="ch09.html">9. Streams</a></li>
				<li><a tabindex="-1" href="ch10.html">10. Concurrency và Multithreading</a></li>
				<li><a tabindex="-1" href="ch11.html">11. Date/Time API</a></li>
				<li><a tabindex="-1" href="ch12.html">12. File I/O và Serialization</a></li>
				<li><a tabindex="-1" href="ch13.html">13. Java Platform Module System</a></li>
				<li><a tabindex="-1" href="ch14.html">14. Localization</a></li>
			  </ul>
			</li>
		  </ul>
	  </div>
</div>
